@import "tailwindcss";

@font-face {
  font-family: "American Captain";
  src: url('/fonts/AmericanCaptain.otf') format('truetype');
}

@font-face {
  font-family: "Titillium Web";
  src: url('/fonts/TitilliumWeb-SemiBold.ttf') format('truetype');
}


:root {
  font-family: "Titillium Web";
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: black;
}

.page {
  color: white;
}

a {
  text-decoration: underline;
}

a:hover {
  opacity: 0.8;
}