@import "tailwindcss";

@font-face {
  font-family: "American Captain";
  src: url('/fonts/AmericanCaptain.otf') format('truetype');
}

@font-face {
  font-family: "Titillium Web";
  src: url('/fonts/TitilliumWeb-SemiBold.ttf') format('truetype');
}


:root {
  font-family: "Titillium Web";
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: black;
}

.page {
  color: white;
}

a {
  text-decoration: underline;
}

a:hover {
  opacity: 0.8;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  display: inline-block;
  width: var(--size);
  height: var(--size);
  border: var(--thickness) solid transparent;
  border-top-color: currentColor;
  border-right-color: currentColor;
  border-radius: 50%;
  animation: spin .8s linear infinite;
}