@import "tailwindcss";

@font-face {
  font-family: "American Captain";
  src: url('/fonts/AmericanCaptain.otf') format('truetype');
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: black;
}